<div class="education">
	<!-- <h2>Education</h2> -->

	<!-- <b>M.Eng.</b> in <b>Electrical and Computer Engineering</b>. <b>Korea University</b> <br/>
  Mar. 2020 – Feb. 2022 (Expected)<br/>
  <b>Area:</b> Distributed Systems, System for Machine Learning, Performance Optimization for ML<br/>
  <b>Advisor:</b> Prof. Jong-Kook Kim<br/>
  <b>Topic:</b> On Efficient Data Delivery for ML Systems (thesis)<br/><br/>

  <b>B.Eng.</b> in <b>Electrical and Computer Engineering</b>. <b>Korea University</b> <br/>
  Mar. 2012 – Feb. 2020<br/>
  <b>Area:</b> Cloud Computing, Distributed Systems<br/>
  <b>Advisor:</b> Prof. Jong-Kook Kim<br/> -->
	<!-- <div class="table-responsive">
    <table class="table table-sm table-borderless">
    {% assign education = site.education | reverse %}
    {% for item in education %}
      <tr>
        <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td>
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a class="education-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div> -->
	<div class="cv">
<!--
		<div class="card mt-3 p-3">
			<h3 class="card-title">General Information</h3>
			<div>

				<table class="table table-sm table-borderless">

					<tr>
						<td class="p-0 pr-2 font-weight-bold text-right"><b>Full Name</b></td>
						<td class="p-0 pl-2 font-weight-light text-left">DoangJoo (Alan) Synn</td>
					</tr>

					<tr>
						<td class="p-0 pr-2 font-weight-bold text-right"><b>Contact</b></td>
						<td class="p-0 pl-2 font-weight-light text-left">alansynn [at] gatech [dot] edu</td>
					</tr>

					<tr>
						<td class="p-0 pr-2 font-weight-bold text-right"><b>Office</b></td>
						<td class="p-0 pl-2 font-weight-light text-left">Klaus Advanced Computing Building 3110</td>
					</tr>

					<tr>
						<td class="p-0 pr-2 font-weight-bold text-right"><b>Languages</b></td>
						<td class="p-0 pl-2 font-weight-light text-left">Korean (native), English (fluent), Japanese (beginner)</td>
					</tr>

				</table>


			</div>
		</div>
		-->

		<!-- The goal of my research is to make computer systems reliable and secure. My mission is to help today's systems defend against all kinds of errors and defects, such as software bugs, configuration errors, and design flaws. I am very happy that some of our work helps improve real software systems (issues we helped/fixed).

		I am interested in all kinds of black magic. My view of systems research is to build the right swords to kill the dragon (not windmills).

		One of my favorite topics is configuration management; on the other hand, I have too broad interests in anything systems and often have trouble focusing. -->

		<div class="card mt-3 p-3">
			<h3 class="card-title">Research Interests</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">My research explores the intersection of generative AI and computational design,
						particularly in creative processes like building automata and kinematics. I investigate how foundation
						models can revolutionize mechanical and computational design by enabling rapid production of diverse
						solutions while preserving human creative intent.</li>

					<li class="list-group-item">I focus on three key challenges: (1) developing educational frameworks that help
						designers effectively collaborate with AI while maintaining their creative vision, (2) preserving human
						intent throughout the AI-assisted design process, and (3) creating specialized tools for non-expert users
						working on mechanical design projects.</li>

				</ul>


			</div>
		</div>

		<div class="card mt-3 p-3">
			<h3 class="card-title">Education</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2022 -
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Georgia Institute of Technology – PhD in Computer
									Science</h6>


								<ul class="items">

									<li>

										<span class="item">Advised by <b>Prof. HyunJoo Oh</b> and <b>Prof. Sehoon Ha</b></span>

									</li>

									<!-- <li>

													<span class="item">GPA: 4.25 (4.5 scale)</span>
												</li> -->

									<li>

										<span class="item">AI in computational design, automata, and kinematics</span>

									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2020 - 2022
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Korea University – M.Eng in Electrical and Computer
									Engineering</h6>


								<ul class="items">

									<li>

										<span class="item">Advised by <b>Prof. Jong-Kook Kim</b></span>

									</li>

									<li>

										<span class="item">GPA: 4.25 (4.5 scale)</span>

									</li>

									<li>

										<span class="item">Thesis: On Efficient Data Delivery for Machine Learning Systems</span>

									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2012 - 2020
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Korea University – B.Eng. in Electrical Engineering</h6>

								<ul class="items">

									<li>

										<span class="item">GPA: 3.56 (scale 4.5)</span>

									</li>

									<li>
										<span class="item">On leave from 2016 Spring to 2019 Spring to serve alternative military
											service</span>
									</li>

								</ul>


							</div>
						</div>
					</li>

				</ul>


			</div>
		</div>

		<div class="card mt-3 p-3">
			<h3 class="card-title">Work Experience</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2024
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">PhD Research Intern @Dolby Research</h6>


								<ul class="items">

									<li>

										<span class="item">Atlanta, GA, USA</span>

									</li>
									<li>

										<span class="item">Experience Delivery Lab</span>

									</li>
									<li>

										<span class="item">Topic: Time-series Multi-modal Data Store for Multi-Media</span>

									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2023
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">MLOps Engineering Intern @LG Uplus Corp.</h6>


								<ul class="items">

									<li>

										<span class="item">Seoul, Korea</span>

									</li>
									<li>

										<span class="item">Project: DeepCrunch, a model compression library with support for multiple
											back-ends for efficient model serving in MLOps in edge devices.</span>

									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2021 - 2022
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Research Scientist @Protopia AI inc.</h6>


								<ul class="items">

									<li>

										<span class="item">Austin, Texas, USA</span>

									</li>
									<li>

										<span class="item">CEO: <a href="http://eimanebrahimi.com" target="_blank">Dr. Eiman
												Ebrahimi</a></span>

									</li>
									<li>

										<span class="item">CTO: <a href="http://cseweb.ucsd.edu/~hadi/" target="_blank">Prof. Hadi
												Esmaeilzadeh</a></span>

									</li>
									<li>
										<span class="item">R&D on:
											<ul>
												<li>Privacy-preserving Deep Learning</li>
												<li>Development on internal ML framework for privacy</li>
												<li>Development and maintenance of Cloud Learning</li>
											</ul>
										</span>
									</li>
									<li>
										<span class="item">Published at NeurIPS 2021 Demo.</span>
									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2019 - 2022
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Cloud Architect</h6>


								<ul class="items">

									<li>

										<span class="item">Design cloud native softwares and consulted 4 different companies to manage the
											DevOps infrastructure</span>

									</li>

									<li>

										<span class="item">Field : Cloud Computing, Cloud Applications, Data Pipeline</span>
									</li>

								</ul>


							</div>
						</div>
					</li>
					<!--
					<li class="list-group-item">
						<div class="row">

								<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
									<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 100px;">
										2020 - now
									</span>
								</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Research Assistant</h6>


									<ul class="items">

										    <li>

													<ul>High Performance and Intelligence Computing Lab.</ul>
													<ul>Research Field: Distributed System, Cloud Computing, Scalable AI</ul>
													<ul>PI : JongKook Kim</ul>

											</li>

									</ul>


							</div>
						</div>
					</li> -->

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2020 - 2022
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Amazon Web Services(AWS) Educate Cloud Ambassador</h6>


								<ul class="items">

									<li>
										The AWS Educate Cloud Ambassador Program is for top-tier cloud educators who serve as ambassadors
										and evangelists for AWS Educate.

										<ul>Consult over university startups</ul>
										<ul>Support the community to adopt Amazon Web Services Technology</ul>

									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2019
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Server Engineer @Flysher inc.</h6>
								<ul class="items">
									<li>
										Global #10 social game
										<ul>Develop 4 social games and features</ul>
										<ul>Analysis on data and develop data-pipeline for global #10 social game</ul>
										<ul>Design and implement unit and simulation testing procedure for business logic</ul>
										<ul>Develop type checking software to increase type safety(Node.js)</ul>
										<ul>Develop QA system with virtual agent</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2017-2019
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">System Engineer @AKA Intelligence inc.</h6>
								<ul class="items">
									<li>
										Develop and Produce Embedded board & S/W for AKA INTELLIGENCE's social robot, Musio.

										<ul>Optimize the MusioOS device driver</ul>
										<ul>Implement circuit defect detection system</ul>
										<ul>Stabilize the power consumption among the AP with sleep control</ul>
										<ul>Design in-house devices for flashing</ul>
										<ul>Implement in-house software for production stage</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>

				</ul>


			</div>
		</div>


		<div class="card mt-3 p-3">
			<h3 class="card-title">Honors and Awards</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									Fellowships
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">



								<ul class="items">

									<li>

										Brain Korea 21(BK21) Research Fellowship (2020-2022)

									</li>

								</ul>

							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									Awards
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">



								<ul class="items">

									<li>

										<span class="item">Dean's List, Spring 2012, Fall 2020, Department of Electrical Engineering</span>

									</li>

									<li>

										<span class="item">Prize Winner, Creative Challenge Program @Korea University Center for Teaching
											and Learning (2016)</span>

									</li>

									<li>

										<span class="item">Prize Winner, Creative Challenge Program @Korea University Center for Teaching
											and Learning (2015)</span>

									</li>

								</ul>

							</div>
						</div>
					</li>

				</ul>


			</div>
		</div>

		<div class="card mt-3 p-3">
			<h3 class="card-title">Teaching Experience</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2021 - 2022
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4"><b>Lecturer</b> at <b>Korea University Science &
										Technology School</b></h6>


								<ul class="items">

									<li>

										<span class="item">Taught Java for 10+ Undergraduate students</span>

									</li>

								</ul>


							</div>
						</div>
					</li>


					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2021
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4"><b>Teaching Assistant</b> at <b>Korea University</b>
								</h6>


								<ul class="items">

									<li>

										<span class="item">Digital System Design</span>

									</li>

									<li>

										<span class="item">Data Structure and Algorithm</span>

									</li>
								</ul>


							</div>
						</div>
					</li>


					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2012 - 2014
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4"><b>Lecturer</b> at <b>KAIST Engineering School</b></h6>


								<ul class="items">

									<li>

										<span class="item">Created comprehensive coding education programs in collaboration with the
											Ministry of Science and ICT of South Korea</span>

									</li>

									<li>

										<span class="item">Develop 20+ hardware and software development curriculum for programming
											education</span>

									</li>

									<li>

										<span class="item">Emphasized hands-on projects utilizing Arduino to teach the principles of mobile
											and ubiquitous computing</span>

									</li>

									<li>

										<span class="item">Guided highschool and college-level students in exploring the third generation of
											computing through practical projects addressing real-world problems</span>

									</li>

								</ul>


							</div>
						</div>
					</li>

				</ul>


			</div>
		</div>

		<div class="card mt-3 p-3">
			<h3 class="card-title">Student Activities</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2023 - 2024
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Georgia Tech Korean Student Association</h6>


								<ul class="items">

									<li>

										<span class="item">President of Korea Students in College of Computing</span>

									</li>

								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2014 - 2019
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">Hardware and Software, Korea University</h6>


								<ul class="items">

									<li>

										<span class="item">President</span>

									</li>

									<li>

										<span class="item">The engineering community at Korea University grew from 10 members to over 200
											active participants, encompassing both hardware and software specialties.</span>

									</li>
								</ul>


							</div>
						</div>
					</li>

					<li class="list-group-item">
						<div class="row">

							<div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
								<span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
									style="width: 100px;">
									2015 - 2016
								</span>
							</div>

							<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

								<h6 class="title font-weight-bold ml-1 ml-md-4">TEDxKoreaUniversity, Korea University</h6>


								<ul class="items">

									<li>

										<span class="item">Founder & Chief-Organizer</span>

									</li>

									<li>

										<span class="item">I organized a TEDx event with 200 guests, 7 speakers, 47 team members, and a
											budget of $4k. My responsibilities included fundraising, sponsorships, editorial decisions,
											communication planning, and production and media.</span>

									</li>
								</ul>


							</div>
						</div>
					</li>

				</ul>


			</div>
		</div>

	</div>

	<!-- <div class="card mt-3 p-3">
			<h3 class="card-title">Computer skills</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">○ Programming languages: C++, Python, Javascript, Java.</li>

					<li class="list-group-item">○ Frameworks: Tensorflow, NumPy, SciPy, Pandas.</li>

					<li class="list-group-item">○ Database Systems: MySQL.</li>

				</ul>


			</div>
		</div> -->

	<div class="card mt-3 p-3">
		<h3 class="card-title">Technical Projects</h3>
		<div>

			<ul class="card-text font-weight-light list-group list-group-flush">

				<li class="list-group-item">
					<div class="row">

						<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

							<h6 class="title font-weight-bold ml-1 ml-md-4">Privacy-Preserving Deep Learning @ Protopia AI</h6>


							<ul class="items">

								<li>

									<span class="item">
										Protopia generates curated noise around the source signal, safeguarding data from unauthorized
										inference.

										<br>

										<a href="https://www.protopia.ai/blog/what-is-the-one-and-only-way-to-secure-your-ai-data"
											target="_blank">Illustration of our technology on Mask Detection task on Baby Faces</a>

										<br>

										<iframe width="100%" src="https://www.youtube.com/embed/jRvl7rQdG-M" title="YouTube video player"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>
										<a href="https://www.protopia.ai/blog/what-is-the-one-and-only-way-to-secure-your-ai-data"
											target="_blank">Demo video for our technology on Face Detection task</a>
										<br />

										<a href="https://www.netapp.com/blog/responsible-AI-ethics-by-design/" target="_blank">NetApp Post:
											Responsible AI and ethics by design: Is your privacy governance-ready for AI at scale?</a>

										<br><br>

										Tasks at Protopia AI inc.:

										<ul>
											<li>Development of Protopia AI's noise training technology for inference privacy.</li>
											<li>Development of Internal framework and system for noise training technology for privacy.</li>
											<li>Research on Face Recognition System with Privacy Preserving with noise training</li>
											<li>Development of Scalable training and Workflow management system for noise training</li>
										</ul>
										(2021.1 – 2022.8)
										NeurIPS-D'21
									</span>

								</li>

							</ul>


						</div>
					</div>
				</li>

				<li class="list-group-item">
					<div class="row">

						<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

							<h6 class="title font-weight-bold ml-1 ml-md-4">High scalable node.js game server framework @Flysher inc.
							</h6>

							<img width="100%" src="https://github.com/NetEase/pomelo/wiki/images/mmo-arch.png"
								alt="A simple diagram to demonstrate MMO Architecture">

							<ul class="items">

								<li>

									<span class="item">Game server framework for Typescript developers which provides the basic
										development framework and many related components, including libraries and tools</span>

								</li>

								<li>

									<span class="item">The former framework, which is <a href="https://github.com/NetEase/pomelo"
											target="_blank">pomelo</a> has been deprecated. Therefore, we need to make a new framework based
										on the former architecture in order to achieve fast and adoptable framework.</span>

								</li>

							</ul>


						</div>
					</div>
				</li>

				<li class="list-group-item">
					<div class="row">

						<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">

							<h6 class="title font-weight-bold ml-1 ml-md-4">Musio @AKA Intelligence inc.</h6>

							<iframe width="100%" src="https://www.youtube.com/embed/VySKmLawlAI" title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
							<ul class="items">

								<li>

									<span class="item">Musio is a social robot designed by AKA Intelligence, powered by MUSE, a deep
										learning based AI quantum engine for communication developed by AKA. Using deep learning algorithms,
										Musio converses with people, recognises objects and also understands people's facial
										expressions.</span>

								</li>

								<li>

									For two years, I was an engineer at AKA Intelligence inc., where I worked on running various
									applications on embedded devices. I tackled the problem from various levels of the system stack.

									<ul>
										<li>Develop and Optimize the MusioOS based on Android framework and device drivers to support the
											system</li>
										<li>Implement circuit defect detection system</li>
										<li>Stabilize the power consumption among the AP with sleep control</li>
										<li>Design in-house devices for flashing</li>
										<li>Implement in-house software for production stage</li>
									</ul>

								</li>

							</ul>


						</div>
					</div>
				</li>

			</ul>


		</div>
	</div>

</div>

<!-- <div class="card mt-3 p-3">
			<h3 class="card-title">Other Interests</h3>
			<div>

				<ul class="card-text font-weight-light list-group list-group-flush">

					<li class="list-group-item">Sports: squash, volleyball, tennis, climbing, hiking</li>

					<li class="list-group-item">Hobbies: traveling, painting, movies, arts and crafts</li>

				</ul>


			</div>
		</div> -->

<div class="card mt-3 p-3">
	<h3 class="card-title">References</h3>
	<div>

		<ul class="card-text font-weight-light list-group list-group-flush">

			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
						<h6 class="title font-weight-bold ml-1 ml-md-4">Professor HyunJoo Oh</h6>
						<ul class="items">
							<li>
								<span class="item">Assistant Professor</span>
							</li>
							<li>
								<span class="item">Georgia Institute of Technology</span>
							</li>
							<li>
								<span class="item">School of Industrial Design & School of Interactive Computing</span>
							</li>
						</ul>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
						<h6 class="title font-weight-bold ml-1 ml-md-4">Professor Sehoon Ha</h6>
						<ul class="items">
							<li>
								<span class="item">Assistant Professor</span>
							</li>
							<li>
								<span class="item">Georgia Institute of Technology</span>
							</li>
							<li>
								<span class="item">College of Computing, School of Interactive Computing</span>
							</li>
						</ul>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
						<h6 class="title font-weight-bold ml-1 ml-md-4">Dr. ByungHoon Ahn</h6>
						<ul class="items">
							<li>
								<span class="item">Senior Software Engineer, Apple inc.</span>
							</li>
							<li>
								<span class="item"><a href="mailto:bhahn@ucsd.edu">bhahn@ucsd.edu</a></span>
							</li>
						</ul>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
						<h6 class="title font-weight-bold ml-1 ml-md-4">Dr. Eiman Ebrahimi</h6>
						<ul class="items">
							<li>
								<span class="item">CEO, Protopia AI inc.</span>
							</li>
							<li>
								<span class="item"><a href="http://eimanebrahimi.com" target="_blank">eimanebrahimi.com</a></span>
							</li>
						</ul>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
						<h6 class="title font-weight-bold ml-1 ml-md-4">Professor Hadi Esmaeilzadeh</h6>
						<ul class="items">
							<li>
								<span class="item">CTO, Protopia AI inc.</span>
							</li>
							<li>
								<span class="item">Associate Professor, University of California San Diego</span>
							</li>
							<li>
								<span class="item"><a href="http://cseweb.ucsd.edu/~hadi/"
										target="_blank">cseweb.ucsd.edu/~hadi</a></span>
							</li>
						</ul>
					</div>
				</div>
			</li>

		</ul>


	</div>
</div>