<div class="education">
  <!--
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign education = site.education | reverse %}
      {% for item in education %}
        <tr>
          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="education-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  -->
  <div class="cv">
    <!--
      <div class="card mt-3 p-3">
      	<h3 class="card-title">General Information</h3>
      	<div>

      		<table class="table table-sm table-borderless">

      			<tr>
      				<td class="p-0 pr-2 font-weight-bold text-right"><b>Full Name</b></td>
      				<td class="p-0 pl-2 font-weight-light text-left">DoangJoo (Alan) Synn</td>
      			</tr>

      			<tr>
      				<td class="p-0 pr-2 font-weight-bold text-right"><b>Contact</b></td>
      				<td class="p-0 pl-2 font-weight-light text-left">alansynn [at] gatech [dot] edu</td>
      			</tr>

      			<tr>
      				<td class="p-0 pr-2 font-weight-bold text-right"><b>Office</b></td>
      				<td class="p-0 pl-2 font-weight-light text-left">Klaus Advanced Computing Building 3110</td>
      			</tr>

      			<tr>
      				<td class="p-0 pr-2 font-weight-bold text-right"><b>Languages</b></td>
      				<td class="p-0 pl-2 font-weight-light text-left">Korean (native), English (fluent), Japanese (beginner)</td>
      			</tr>

      		</table>


      	</div>
      </div>
    -->

    <!--
      The goal of my research is to make computer systems reliable and secure. My mission is to help today's systems defend against all kinds of errors and defects, such as software bugs, configuration errors, and design flaws. I am very happy that some of our work helps improve real software systems (issues we helped/fixed).

      I am interested in all kinds of black magic. My view of systems research is to build the right swords to kill the dragon (not windmills).

      One of my favorite topics is configuration management; on the other hand, I have too broad interests in anything systems and often have trouble focusing.
    -->

    {% if page.research_interests %}
      {% include research_interests.liquid %}
    {% endif %}

    {% if page.education_history %}
      {% include education_history.liquid %}
    {% endif %}

    {% if page.work_experience %}
      {% include work_experience.liquid %}
    {% endif %}

    {% if page.honors_awards %}
      {% include honors_awards.liquid %}
    {% endif %}

    {% if page.student_activities %}
      {% include student_activities.liquid %}
    {% endif %}

    {% if page.teaching_experience %}
      {% include teaching_experience.liquid %}
    {% endif %}

    {% if page.technical_projects %}
      {% include technical_projects.liquid %}
    {% endif %}

    {% if page.references %}
      {% include references.liquid %}
    {% endif %}
  </div>
</div>