<div class="card mt-3 p-3">
  <h3 class="card-title">Education</h3>
  <div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2022 -
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Georgia Institute of Technology – PhD in Computer
              Science</h6>

            <ul class="items">
              <li>
                <span class="item">Advised by <b>Prof. HyunJoo Oh</b> and <b>Prof. Sehoon Ha</b></span>
              </li>
              <li>
                <span class="item">AI in computational design, automata, and kinematics</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2020 - 2022
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Korea University – M.Eng in Electrical and Computer
              Engineering</h6>

            <ul class="items">
              <li>
                <span class="item">Advised by <b>Prof. Jong-Kook Kim</b></span>
              </li>
              <li>
                <span class="item">GPA: 4.25 (4.5 scale)</span>
              </li>
              <li>
                <span class="item">Thesis: On Efficient Data Delivery for Machine Learning Systems</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2012 - 2020
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Korea University – B.Eng. in Electrical Engineering</h6>

            <ul class="items">
              <li>
                <span class="item">GPA: 3.56 (scale 4.5)</span>
              </li>
              <li>
                <span class="item">On leave from 2016 Spring to 2019 Spring to serve alternative military
                  service</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>