<div class="card mt-3 p-3">
  <h3 class="card-title">Honors and Awards</h3>
  <div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              Fellowships
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <ul class="items">
              <li>Brain Korea 21(BK21) Research Fellowship (2020-2022)</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              Awards
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <ul class="items">
              <li>
                <span class="item">Dean's List, Spring 2012, Fall 2020, Department of Electrical Engineering</span>
              </li>

              <li>
                <span class="item">Prize Winner, Creative Challenge Program @Korea University Center for Teaching
                  and Learning (2016)</span>
              </li>

              <li>
                <span class="item">Prize Winner, Creative Challenge Program @Korea University Center for Teaching
                  and Learning (2015)</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>