<div class="card mt-3 p-3">
  <h3 class="card-title">Leadership and Volunteering Activities</h3>
  <div>

            <ul class="card-text font-weight-light list-group list-group-flush">

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2019 - now
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Mentorship:</span>

                                        </li>

                                        <li style="list-style-type: none;">

                                                <span class="item">- Mentor for the CMU AI mentoring program (2019 - now)</span>

                                        </li>

                                        <li style="list-style-type: none;">

                                                <span class="item">- Mentor for first year PhD students at CMU (2019 - now)</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2019
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Organized a workshop on <a href="https://www.amtl-workshop.org/home" target="_blank"><b>Adaptive &amp; Multitask Learning</b></a> at ICML 2019.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2018 - now
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Founding member of the <a href="http://cmu.aiplus.club/" target="_blank"><b> AI+ Club</b></a>  at Carnegie Mellon University (CMU).</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2018 - now
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">I was a reviewer for the following journals, conferences and workshops: ICML (2019), AISTATS (2019, 2020), ICLR (2018, 2020), ICLR-LLD (2019), PLOS ONE (2019), ICML-GRL (2020), NeurIPS (2020), AAAI (2021).</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2018 - 2019
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Treasurer of the Romanian Students Association at CMU.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2016 - now
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Member of the Doctoral Review Committee of the Machine Learning Department at CMU.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2016 - now
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Member of the Education Review Committee of the Machine Learning Department at CMU, which aims to improve the PhD program.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2016 - 2018
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">President of the Romanian Students Association at CMU.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2011 - 2012
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Student representative in the faculty leadership board at Politehnica University of Timisoara.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2010 - 2011
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Volunteer for AIESEC, international youth organization.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">

                            <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                                <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle" style="width: 90px;">
                                    2010 - 2012
                                </span>
                            </div>

                        <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">


                                <ul class="items">

                                        <li style="list-style-type: none;">

                                                <span class="item">Volunteer for Liga AC, student organization at Politehnica University.</span>

                                        </li>

                                </ul>


                        </div>
                    </div>
                </li>

            </ul>


  </div>