<div class="card mt-3 p-3">
  <h3 class="card-title">Student Activities</h3>
  <div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2023 - 2024
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Georgia Tech Korean Student Association</h6>

            <ul class="items">
              <li>
                <span class="item">President of Korea Students in College of Computing</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2014 - 2019
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Hardware and Software, Korea University</h6>

            <ul class="items">
              <li>
                <span class="item">President</span>
              </li>

              <li>
                <span class="item">The engineering community at Korea University grew from 10 members to over 200
                  active participants, encompassing both hardware
                  and software specialties.</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2015 - 2016
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">TEDxKoreaUniversity, Korea University</h6>

            <ul class="items">
              <li>
                <span class="item">Founder & Chief-Organizer</span>
              </li>

              <li>
                <span class="item">I organized a TEDx event with 200 guests, 7 speakers, 47 team members, and a
                  budget of $4k. My responsibilities included
                  fundraising, sponsorships, editorial decisions, communication planning, and production and
                  media.</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>