<div class="card mt-3 p-3">
  <h3 class="card-title">Technical Projects</h3>
  <div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Privacy-Preserving Deep Learning @ Protopia AI</h6>

            <ul class="items">
              <li>
                <span class="item">
                  Protopia generates curated noise around the source signal, safeguarding data from unauthorized
                  inference.

                  <br>

                  <a href="https://www.protopia.ai/blog/what-is-the-one-and-only-way-to-secure-your-ai-data"
                    target="_blank">Illustration of our technology on Mask Detection task on Baby Faces</a>

                  <br>

                  <iframe width="100%" src="https://www.youtube.com/embed/jRvl7rQdG-M" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <a href="https://www.protopia.ai/blog/what-is-the-one-and-only-way-to-secure-your-ai-data"
                    target="_blank">Demo video for our technology on Face Detection task</a>
                  <br>

                  <a href="https://www.netapp.com/blog/responsible-AI-ethics-by-design/" target="_blank">NetApp
                    Post:
                    Responsible AI and ethics by design: Is your privacy governance-ready for AI at scale?</a>

                  <br>
                  <br>

                  Tasks at Protopia AI inc.:

                  <ul>
                    <li>Development of Protopia AI's noise training technology for inference privacy.</li>
                    <li>Development of Internal framework and system for noise training technology for privacy.</li>
                    <li>Research on Face Recognition System with Privacy Preserving with noise training</li>
                    <li>Development of Scalable training and Workflow management system for noise training</li>
                  </ul>
                  (2021.1 – 2022.8) NeurIPS-D'21
                </span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">High scalable node.js game server framework @Flysher
              inc.
            </h6>

            <img width="100%" src="https://github.com/NetEase/pomelo/wiki/images/mmo-arch.png"
              alt="A simple diagram to demonstrate MMO Architecture">

            <ul class="items">
              <li>
                <span class="item">Game server framework for Typescript developers which provides the basic
                  development framework and many related components,
                  including libraries and tools</span>
              </li>

              <li>
                <span class="item">The former framework, which is
                  <a href="https://github.com/NetEase/pomelo" target="_blank">pomelo</a>
                  has been deprecated. Therefore, we need to make a new framework based on the former architecture
                  in
                  order to achieve fast and
                  adoptable framework.</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Musio @AKA Intelligence inc.</h6>

            <iframe width="100%" src="https://www.youtube.com/embed/VySKmLawlAI" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <ul class="items">
              <li>
                <span class="item">Musio is a social robot designed by AKA Intelligence, powered by MUSE, a deep
                  learning based AI quantum engine for communication
                  developed by AKA. Using deep learning algorithms, Musio converses with people, recognises objects
                  and also understands people's
                  facial expressions.</span>
              </li>

              <li>
                For two years, I was an engineer at AKA Intelligence inc., where I worked on running various
                applications on embedded devices. I
                tackled the problem from various levels of the system stack.

                <ul>
                  <li>Develop and Optimize the MusioOS based on Android framework and device drivers to support the
                    system</li>
                  <li>Implement circuit defect detection system</li>
                  <li>Stabilize the power consumption among the AP with sleep control</li>
                  <li>Design in-house devices for flashing</li>
                  <li>Implement in-house software for production stage</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>