<div class="card mt-3 p-3">
  <h3 class="card-title">Work Experience</h3>
  <div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2024
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">PhD Research Intern @Dolby Research</h6>

            <ul class="items">
              <li>
                <span class="item">Atlanta, GA, USA</span>
              </li>
              <li>
                <span class="item">Experience Delivery Lab</span>
              </li>
              <li>
                <span class="item">Topic: Time-series Multi-modal Data Store for Multi-Media</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2023
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">MLOps Engineering Intern @LG Uplus Corp.</h6>

            <ul class="items">
              <li>
                <span class="item">Seoul, Korea</span>
              </li>
              <li>
                <span class="item">Project: DeepCrunch, a model compression library with support for multiple
                  back-ends for efficient model serving in MLOps in
                  edge devices.</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2021 - 2022
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Research Scientist @Protopia AI inc.</h6>

            <ul class="items">
              <li>
                <span class="item">Austin, Texas, USA</span>
              </li>
              <li>
                <span class="item">CEO: <a href="http://eimanebrahimi.com" target="_blank">Dr. Eiman
                    Ebrahimi</a></span>
              </li>
              <li>
                <span class="item">CTO: <a href="http://cseweb.ucsd.edu/~hadi/" target="_blank">Prof. Hadi
                    Esmaeilzadeh</a></span>
              </li>
              <li>
                <span class="item">R&D on:
                  <ul>
                    <li>Privacy-preserving Deep Learning</li>
                    <li>Development on internal ML framework for privacy</li>
                    <li>Development and maintenance of Cloud Learning</li>
                  </ul>
                </span>
              </li>
              <li>
                <span class="item">Published at NeurIPS 2021 Demo.</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2019 - 2022
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Cloud Architect</h6>

            <ul class="items">
              <li>
                <span class="item">Design cloud native softwares and consulted 4 different companies to manage the
                  DevOps infrastructure</span>
              </li>

              <li>
                <span class="item">Field : Cloud Computing, Cloud Applications, Data Pipeline</span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2020 - 2022
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Amazon Web Services(AWS) Educate Cloud Ambassador</h6>

            <ul class="items">
              <li>
                The AWS Educate Cloud Ambassador Program is for top-tier cloud educators who serve as ambassadors
                and evangelists for AWS Educate.

                <ul>
                  Consult over university startups
                </ul>
                <ul>
                  Support the community to adopt Amazon Web Services Technology
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2019
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">Server Engineer @Flysher inc.</h6>
            <ul class="items">
              <li>
                Global #10 social game
                <ul>
                  Develop 4 social games and features
                </ul>
                <ul>
                  Analysis on data and develop data-pipeline for global #10 social game
                </ul>
                <ul>
                  Design and implement unit and simulation testing procedure for business logic
                </ul>
                <ul>
                  Develop type checking software to increase type safety(Node.js)
                </ul>
                <ul>
                  Develop QA system with virtual agent
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 100px;">
            <span class="badge font-weight-bold light-green darken-1 text-uppercase align-middle"
              style="width: 100px;">
              2017-2019
            </span>
          </div>

          <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
            <h6 class="title font-weight-bold ml-1 ml-md-4">System Engineer @AKA Intelligence inc.</h6>
            <ul class="items">
              <li>
                Develop and Produce Embedded board & S/W for AKA INTELLIGENCE's social robot, Musio.

                <ul>
                  Optimize the MusioOS device driver
                </ul>
                <ul>
                  Implement circuit defect detection system
                </ul>
                <ul>
                  Stabilize the power consumption among the AP with sleep control
                </ul>
                <ul>
                  Design in-house devices for flashing
                </ul>
                <ul>
                  Implement in-house software for production stage
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>