---
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Publications from '@/components/Publications.astro';
---
<Base title="Publications" wide>
  <Section index="01" title="Publications" meta="full list">
    <Publications />
  </Section>
</Base>
